.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
}
.text_big {
    font-size: 96px;
    margin-bottom: 50px;
}
.text {
    font-size: 40px;
}


@media (max-width: 900px) {
    .text {
        font-size: 24px;
    }
    .text_big {
        font-size: 60px;
    }
}