.catalog__title {
    font-size: 2rem;
    margin-bottom: 50px;
    margin-top: 50px;
}
.catalog__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    column-gap: 20%;
    row-gap: 50px;
}

.card{
    border-radius: 10px;
}
.card__img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card__content {
    background-color: #FBFAF9;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card__name {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.card__details {
    font-size: 1.25rem;
}
.card__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 20%;
    align-items: center;
}
.card__price-button {
    font-size: 1.25rem;
    padding: 4% 7%;
}
.card__price-link {
    text-decoration: none;
    color: black;
}
.card__price-text {
    font-size: 1.5rem;
    color: #95B585;
    text-align: center;
}


@media (max-width: 460px) {
    .card__price {
        flex-direction: column;
        row-gap: 30px;
    }
    .card__price-text {
        text-align: start;
        width: 100%;
    }
    .card__price-button {
        width: 100%;
    }
}