section {
    margin-top: 50px;
}
.registration {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FBFAF9;
    border-radius: 30px;
    padding: 2.5% 4.2%;
    row-gap: 50px;
}
.form__title {
    font-size: 2rem;
}
input[type="text"], input[type="password"] {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    padding:20px;
    border-radius: 10px;
    border: none;
    /* outline: 1px solid rgb(245, 245, 245); */
}
/* input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: rgb(65, 64, 64);
} */
.form__button {
    width: 100%;
    padding: 4% 7%;
    border-radius: 30px;
    font-size: 1.5rem;
}
.form__text {
    font-size: 1.5rem;
}
.form__link {
    text-decoration: none;
    color: #95B585;
}