@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat bold';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat italic';
    src: url(../fonts/Montserrat-Italic.woff2) format('woff2');
    font-style: italic;
}

:root {
    --backgroung-color: #ECE5DD;
    --footer-color: #B8B0A7;
    --secondary-clr: #9E7A61;
    --primary-clr: #BCC8A5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'montserrat';
    background-color: var(--backgroung-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'montserrat bold';
}
.container {
    padding: 0 10%;
}
section{
    margin-bottom: 50px;
}
/* .header{
    background: #BCC8A5;
} */
.header{
    background: white;
}
.open {
    display: flex !important;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5% 0;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logo__image{
    margin-right: 20px;
}
.logo__text{
    font-size: 2rem;
}
.header__menu{
    font-size: 1.5rem;
}
.header__menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    list-style: none;
}
.header__menu-list .header__menu-item:last-child {
    display: none;
}
.header__menu-link{
    text-decoration: none;
    color: black;
}

.button{
    background: var(--secondary-clr);
    border-radius: 10px;
    border: none;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.6s;
}
.button:active{
    background: #685041;
}
.header__button{
    font-size: 1.25rem;
    padding: 1.2% 2%;
}
.header__button-link{
    text-decoration: none;
    color: black;
}

.header__burger {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 10;
    position: relative;
}
.header__burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background: black;
}
.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    transition: all 0.3s ease 0s;
}
.header__burger::before {
    top: 0;
}
.header__burger::after {
    bottom: 0;
}
.header__burger.active span {
    transform: scale(0);
}
.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

footer {
    background: var(--footer-color);
}
.footer__content{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 5% 0;
}
.footer__menu, .footer__text{
    font-size: 1.5rem;
}
.footer__text{
    text-align: center;
    vertical-align: middle;
}
.footer__list{
    list-style: none;
    row-gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer__item-link {
    color: black;
    text-decoration: none;
}

@media (max-width: 900px) {
    .header__burger{
        display: flex;
    }
    .header__menu-list .header__menu-item:last-child {
        display: list-item;
    }
    .header__menu {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; right: 0; left: 0; bottom: 0;
        padding: 50px 40px;
        z-index: 10;
        overflow-y: auto;
        background-color: #FBFAF9;
    }
    .header__menu-list {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 30px;
    }
    .header__button {
        display: none;
    }
    .footer__content {
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
    }
    .footer__menu {
        display: flex;
        justify-content: center;
    }
    .footer__list{
        justify-content: center;
    }
}